In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn import model_selection

In [16]:
iris = datasets.load_iris()

In [17]:
x = iris.data
y = iris.target
df = pd.DataFrame(x)

In [18]:
df["new"] = 1

In [74]:
df.head()
x = df.values
xTrain,xTest,yTrain,yTest = model_selection.train_test_split(x,y,random_state=0)

In [20]:
def step(x,y,learnRate,m):
    N = len(x)
    M = len(m)
    for i in range(M):
        slope_m = 0
        for j in range(N):
            slope_m +=(-2/N)*(y[j]-(m*x[j]).sum())*x[j][i]
        m[i] = m[i]-(learnRate*slope_m)
    return m

In [21]:
def cost(x,y,m):
    N = len(x)
    ct = 0
    for i in range(N):
        ct+=(1/N)*((y[i]-((m*x[i]).sum()))**2)
    return ct

In [43]:
def gd(x,y,numIter,learnRate):
    m = np.zeros(x.shape[1])
    ct = cost(x,y,m)
    for i in range(numIter):
        m  = step(x,y,learnRate,m)
        cNew = cost(x,y,m)
        print(cNew)
    return m

In [83]:
def run(x,y):
    numIter = 50
    learnRate = 0.1
    m = gd(x,y,numIter,learnRate)
    dfm = pd.DataFrame(m)
    print(dfm)
    return m

In [84]:
m = run(xTrain,yTrain)

54.4331250756
7.57244561018
4.95349463634
4.30931660488
4.09570229216
4.00133670551
3.95671229737
3.93498757519
3.92426630583
3.9189402612
3.91628580333
3.91496070527
3.91429868768
3.91396781159
3.9138024067
3.91371971254
3.91367836754
3.91365769555
3.91364735969
3.91364219179
3.91363960784
3.91363831588
3.91363766989
3.9136373469
3.9136371854
3.91363710466
3.91363706428
3.9136370441
3.913637034
3.91363702896
3.91363702643
3.91363702517
3.91363702454
3.91363702422
3.91363702407
3.91363702399
3.91363702395
3.91363702393
3.91363702392
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
3.91363702391
          0
0 -1.237030
1  0.030044
2  3.496303
3 -3.699918
4 -0.885557

In [11]:
x.shape

(506, 14)

In [12]:
z = np.zeros(10)
z[1]

0.0

In [13]:
mp = np.ones(14)

In [14]:
df2 = pd.DataFrame(mp*x[10])
df2

            0
0     0.22489
1    12.50000
2     7.87000
3     0.00000
4     0.52400
5     6.37700
6    94.30000
7     6.34670
8     5.00000
9   311.00000
10   15.20000
11  392.52000
12   20.45000
13    1.00000

In [109]:
N = len(xTest)
yPre = np.zeros(N)
for i in range(N):
    yPre[i] = (m*xTest[i]).sum()
print(xTest.shape)
print(yPre.shape)

(38, 5)
(38,)

In [110]:
def cod(yTest,yPre):
    u = ((yTest-yPre)**2).sum()
    v = ((yTest-yTest.mean())**2).sum()
    return 1-(u/v)

In [87]:
ydf.head()

          0         1          2         3         4
0 -7.174772  0.084122  17.831148 -8.879804 -0.885557
1 -7.422178  0.066096  13.985214 -3.699918 -0.885557
2 -6.803663  0.126183   4.894825 -0.739984 -0.885557
3 -9.030316  0.087126  22.026712 -6.659853 -0.885557
4 -6.185148  0.102148   5.244455 -0.739984 -0.885557

In [111]:
cod(yTest,yPre)

-7.2743467627464433