In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def fit(xTrain,yTrain):
    num = (xTrain*yTrain).mean()-(yTrain.mean()*xTrain.mean())
    den = (xTrain*xTrain).mean()-(xTrain.mean())**2
    m = num/den
    c = yTrain.mean()-m*xTrain.mean()
    return m,c

In [3]:
def predict(xTest,m,c):
    yPre = xTest*m+c
    return yPre

In [4]:
def coc(yPre,yTest):
    u = ((yTest-yPre)**2).sum()
    v = ((yTest-(yTest.mean()))**2).sum()
    return 1-(u/v)

In [5]:
def cost(xTrain,yTrain,m,c):
    return ((yTrain-m*xTrain-c)**2).sum()

In [6]:
data = np.loadtxt("data.csv",delimiter=",")

In [7]:
data.shape

(100, 2)

In [8]:
df = pd.DataFrame(data)

In [9]:
df.head()

           0          1
0  32.502345  31.707006
1  53.426804  68.777596
2  61.530358  62.562382
3  47.475640  71.546632
4  59.813208  87.230925

In [10]:
df.describe()

                0           1
count  100.000000  100.000000
mean    48.958341   72.735051
std      9.746379   16.658187
min     25.128485   31.707006
25%     41.526164   60.788586
50%     49.634970   72.179542
75%     56.762631   83.215080
max     70.346076  118.591217

In [11]:
x = data[:,0]

In [12]:
y = data[:,1]

In [13]:
from sklearn import model_selection

In [14]:
xTrain,xTest,yTrain,yTest = model_selection.train_test_split(x,y,test_size=0.3)

In [15]:
m,c=fit(xTrain,yTrain)
print(m,c)

1.36628718599 6.18910700387

In [16]:
yPre = predict(xTest,m,c)
print(yPre)

[ 83.69476447  88.57257203  74.88990198  59.22402741  84.49103033
  82.87933799  87.91112647  84.75681399  73.46476743  40.52183358
  77.52541578  51.40478524  79.50535114  79.18546474  54.93562951
  57.66487146  75.99097035  61.65973606  59.41250882  73.41574805
  68.24550229  90.25724672  73.07691023  79.54730614  65.08676939
  55.97115991  66.59504323  80.44904928  74.75812788  70.0461175 ]

In [17]:
coef = coc(yPre,yTest)
print(coef)

0.548686212628

In [18]:
ct = cost(xTrain,yTrain,m,c)
print(ct)

8441.76893311