In [1]:
print(10)

10

In [2]:
a = 10
print(a)

10

In [3]:
a

10

In [4]:
b = "hello world"
print(b)

hello world

In [10]:
a = 10
b = 11
print(a,end = " ")##used to specify how the printed data should end with
print(a+b, end = "\n\n")
print(b)
print(type(b))
c = 2+3j
type(c)

10 21

11
<class 'int'>

complex

In [15]:
print(a/b)
print(a//b)
print(a*b)
print(a**b)

0.9090909090909091
0
110
100000000000

In [46]:
d = " abc "
print(d)
d = d.strip()
print(d)
if(a<b):
    print(a)
else:
    print(b)

 abc
abc
10

In [47]:
d +="1"
print(d.lower())
print(d.upper())

abc1
ABC1

In [48]:
x = int(input("Please enter a number to add:"))

Please enter a number to add10

In [52]:
print(0 and x)

0

In [55]:
if x==a:
    print(a)
elif x==b:
    print(b)
else:
    print(c)

10

In [56]:
if True or True:
    if False and True or False:
        print("a")
    elif False and False or True and True:
        print("b")
    else:
        print("c")
else:
    print("d")

b

In [64]:
##printing pattern
n = int(input())
for i in range(1,n+1):
    for j in range(0,i):
        print(j+1,end="")
    for j in range(n,i,-1):
        print(" ",end="")
    for j in range(n,i,-1):
        print(" ",end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

5
1        1
12      21
123    321
1234  4321
1234554321

In [68]:
##reversing each word

def reverse(a):
    ans=""
    for i in range(-1,-len(a)-1,-1):
        ans+=a[i]
    return ans

def reversestr(a):
    ans=""
    j=0
    for i in a:
        if i==" ":
            ans+=reverse(a[j:i])
            j=i
    return ans

reverse("Welcome to Coding Ninjas")

'sajniN gnidoC ot emocleW'

In [70]:
def sum(a,b,*more):
    print(more)
    print(type(more))
    return 10

sum(10,20,30,40)

def sumVar(a,b,*more):
    sum = a+b
    for i in more:
        sum+=i
    return sum

sumVar(10,20,30,40)

(30, 40)
<class 'tuple'>

100

In [72]:
##Lists

a1 = [1,2,3]
a2 = list()
a3 = (1,2,3)

print(type(a1))
print(type(a2))
print(type(a3))

<class 'list'>
<class 'list'>
<class 'tuple'>

In [86]:
a = [z for z in input().strip().split()]
print(a)

1 2 3 4
['1', '2', '3', '4']

In [88]:
b = [int(y) for y in input().strip().split()]
print(b)

1 2 3 4
[1, 2, 3, 4]

In [91]:
l1 = [a for i in range(10)]
l1

[['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4'],
 ['1', '2', '3', '4']]

In [94]:
l2 =[[j for j in range(5)] for i in range(10)]
l2

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]