In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import model_selection
from sklearn.linear_model import LinearRegression

In [2]:
iris = datasets.load_iris()

In [4]:
x = iris.data
y = iris.target

In [40]:
df = pd.DataFrame(x)

In [41]:
df.columns = iris.feature_names

In [42]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [43]:
df["sl"] = df[df.columns[0]]

In [50]:
df.drop(df.columns[0],axis=1,inplace =True)
df.head()

    sl   sw   pl   pw
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [45]:
df["sw"] = df[df.columns[0]]

In [47]:
df["pl"] = df[df.columns[0]]

In [49]:
df["pw"] = df[df.columns[0]]

In [51]:
df.head()

    sl   sw   pl   pw
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [52]:
size = df.shape[1]
for i in range(size):
    for j in range(i,size):
        s=""
        s=df.columns[i]+"_"+df.columns[j]
        df[s]=df[df.columns[i]]*df[df.columns[j]]

In [53]:
df.head()

,sl,sw,pl,pw,sl_sl,sl_sw,sl_pl,sl_pw,sw_sw,sw_pl,sw_pw,pl_pl,pl_pw,pw_pw
0,5.1,3.5,1.4,0.2,26.01,17.85,7.14,1.02,12.25,4.90,0.70,1.96,0.28,0.04
1,4.9,3.0,1.4,0.2,24.01,14.70,6.86,0.98,9.00,4.20,0.60,1.96,0.28,0.04
2,4.7,3.2,1.3,0.2,22.09,15.04,6.11,0.94,10.24,4.16,0.64,1.69,0.26,0.04
3,4.6,3.1,1.5,0.2,21.16,14.26,6.90,0.92,9.61,4.65,0.62,2.25,0.30,0.04
4,5.0,3.6,1.4,0.2,25.00,18.00,7.00,1.00,12.96,5.04,0.72,1.96,0.28,0.04

In [54]:
df.shape

(150, 14)

In [55]:
x2 = df.values

In [56]:
x2Train,x2Test,y2Train,y2Test = model_selection.train_test_split(x2,y,random_state=0)
xTrain,xTest,yTrain,yTest = model_selection.train_test_split(x,y,random_state=0)

In [57]:
alg1 = LinearRegression()
alg2 = LinearRegression()

In [58]:
alg1.fit(xTrain,yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [59]:
alg2.fit(x2Train,y2Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [60]:
print(alg1.score(xTrain,yTrain))
print(alg1.score(xTest,yTest))
print(alg2.score(x2Train,y2Train))
print(alg2.score(x2Test,y2Test))

0.94022476097
0.888847288382
0.96143735442
0.890678354923

In [36]:
print("Hello")

Hello